{
  "durationminutes" : "$durationminutes",
  "destinationport": "$destinationport",
  "sourceport": "$sourceport",
  "icmptype": "$icmptype",
  "icmpcode": "$icmpcode",
  "packetlength": "$packetlength",
  "dscp": "$dscp",
  "description": "$description",
  "destinationprefix": "$destinationprefix",
  "sourceprefix": "$sourceprefix",
  "thenaction": "$thenaction",
  "fragmentencoding": "$fragmentencoding",
  "ipprotocol": "$ipprotocol",
  "tcpflags": "$tcpflags"
}
